<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.shardingJdbc.UserDaoMapper">

    <insert id="addUser">
        INSERT INTO user (
        id, city, username, create_time, modify_time
        )
        VALUES (
        #{id,jdbcType=INTEGER},
        #{city,jdbcType=VARCHAR},
        #{username,jdbcType=VARCHAR},
        #{createTime},
        #{modifyTime}
        )
    </insert>

    <select id="list" resultType="com.example.demo.shardingJdbc.User">
        SELECT
        u.id as id,
        u.city as city,
        u.username as username,
        u.create_time as createTime,
        u.modify_time as modifyTime
        FROM user u
        order by u.create_time desc, id DESC
    </select>

    <select id="findById" resultType="com.example.demo.shardingJdbc.User">
        SELECT u.* FROM user u WHERE u.id=#{id,jdbcType=INTEGER}
    </select>

    <select id="findByName" resultType="com.example.demo.shardingJdbc.User">
        SELECT u.* FROM user u WHERE u.username=#{username,jdbcType=VARCHAR}
    </select>


    <!--要有order by才能有我们想要的排序-->
    <select id="listPage" resultType="com.example.demo.shardingJdbc.User">
        SELECT
        u.id as id,
        u.city as city,
        u.username as username,
        u.create_time as createTime,
        u.modify_time as modifyTime
        FROM user u
        ORDER BY u.id
        limit #{start,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}
    </select>
</mapper>
